.small-green-button {
    margin-top: 26px;
    margin-right: 26px;
    color: white;
    background-color: $primary;
    font-family: $secondary-font;
    padding: 6px 14px;
    border-radius: 5px;
    box-shadow: $standard-shadow;
}