// Here's where I'll put our primary colors and such
$standard-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$primary: #004D40;
$primary-light: #39796b;
$edge-padding: 0px 30px;
$h1: 32px;
$primary-font: 'Elianto', Arial;
$secondary-font: 'Mukta Malar', sans-serif;
$mat-icons: 'Material Icons';
$full-window: calc(100vh - 80px);

@import url('https://fonts.googleapis.com/css?family=Mukta+Malar:300,400,500,600,800');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: 'Elianto';
  src: url('../assets/fonts/elianto.eot');
  src: url('../assets/fonts/elianto.woff2') format('woff2'),
       url('../assets/fonts/elianto.woff') format('woff'),
       url('../assets/fonts/elianto.ttf') format('truetype'),
       url('../assets/fonts/elianto.svg#Elianto-Regular') format('svg'),
       url('../assets/fonts/elianto.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


html, body {
    font-size: 16px;
    font-family: $secondary-font;
}

h1 {
    text-align: center;
    font-size: 38px;
    align-self: center;
    font-family: $primary-font;
    text-transform: uppercase;
  }

h2 {
    font-size: 22px;
    letter-spacing: 4px;
    font-family: $secondary-font;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.hidden-image {
    max-width: 60vw;
    opacity: 0;
}

p {
    font-size: 16px;
    font-family: $secondary-font;
    line-height: 130%;
}

a {
    text-decoration: none;
}

a:hover {
    color: $primary-light;
}

a:visited {
    text-decoration: none;
}

.mat-icon {
    font-family: 'Material Icons';
    font-size: 55px;
    text-transform: lowercase;
    background-color: transparent;
}

.small-icon {
    font-size: 28px;
}