// Here's where I'll put our primary colors and such
$standard-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$primary: #004D40;
$primary-light: #39796b;
$edge-padding: 0px 35px;
$h1: 32px;

a {
    text-decoration: none;
}

a:hover {
    color: $primary-light;
}

a:visited {
    text-decoration: none;
}